@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


#explorer-tbl {
    position: absolute;
    background-color: #1d1d1d;
    z-index: 100;
    top: 10px;
    left: 10px;
    padding: 3px;
    border: none;
}

.explorer-tbl-header {
    border: none;

}

.explorer-tbl-header .explorer-tbl-cell {
    padding: 4px 7px 2px; /* default override cell padding */
}

.explorer-tbl-row {
    border: none;
    height: 3em;
}

.explorer-tbl-row:nth-child(2n-1) { background-color: rgb(36, 36, 36); }
.explorer-tbl-row:nth-child(2n) { background-color: #1d1d1d; }

.explorer-tbl-cell {
    border: none;
    box-sizing: unset;
    padding: 0 2px;
    text-align: center;
    line-height: 3em;
    vertical-align: top;
}

.explorer-tbl-player-col-cell {
    border: none;
    display: inline-flex;
    padding: 0;
    line-height: 3em;
}

.explorer-tbl-player-col-cell-color {
    width: 6px;
    background-color: #000;
    display: inline-block;
}

.explorer-tbl-player-name {
    margin: 0px 10px 0 4px;
}

.explorer-tbl-player-col-header {
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding-left: 10px; /* width of cell-color + margin-left of player-name */
    font-size: 85%;
}

.explorer-tbl-resource-icon {
    width: 24px;
    height: 36px;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 520px;
    z-index: 9999;
    background-color: #1d1d1d; /* Match table background color */
    color: #fff; /* Match table font color */
    border: none; /* Match table border */
    padding: 4px 7px; /* Match table cell padding */
    font-family: 'Roboto', sans-serif; /* Match table font family */
    font-size: 85%; /* Match table font size */
    display: flex; /* Use flexbox for proper alignment */
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Center the content */
}

.toggle-button img {
    width: 32px; /* Adjust the size as needed */
    height: 32px; /* Adjust the size as needed */
}

.submit-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: #1e778d; /* Match table background color */
    color: #fff; /* Match table font color */
    border: none; /* Match table border */
    padding: 4px 7px; /* Match table cell padding */
    font-family: 'Roboto', sans-serif; /* Match table font family */
    font-size: 85%; /* Match table font size */
    width: 200px; /* Adjust width to change button width */
    height: 50px; /* Adjust height to change button height */
}

.inputbox1-box {
    position: fixed;
    top: 10px;
    left: 220px;
    z-index: 9999;
    background-color: #1e778d; /* Match table background color */
    color: #fff; /* Match table font color */
    border: none; /* Match table border */
    padding: 4px 7px; /* Match table cell padding */
    font-family: 'Roboto', sans-serif; /* Match table font family */
    font-size: 85%; /* Match table font size */
}
@keyframes flash-red {
    0% { border-color: transparent; }
    50% { border-color: red; }
    100% { border-color: transparent; }
}

.flash-red {
    border: 2px solid transparent; /* Add a border to the input box */
    animation: flash-red 2s infinite;
}
